= image_tag 'close_icon.png', :class =>'close_button'

%section.panel.radius.list
  = content_tag :h3, t('simulation_scenario_list.label'), class: 'subheader'

  - if @simulations.blank?
    .panel.callout.radius
      = content_tag :h4, t('simulation_scenario_list.empty_list'), class: 'subheader'

  - else
    - @simulations.each do |simulation|
      = button_to simulation.name, simulations_conduct_experiment_path(simulation_id: simulation.id), class: 'button expand'
