%section.panel.radius.list
  = content_tag :h3, t('simulation_scenario_list.label'), class: 'subheader'

  .content
    - if @simulations.blank?
      .panel.callout.radius
        = content_tag :h4, raw(t('simulation_scenario_list.empty_list')), class: 'subheader'
    - else
      - @simulations.each do |simulation|
        %a.button.expand.radius.last-element(href="#{new_experiment_path(simulation_id: simulation.id)}")
          = simulation.name
