<article>

  <section>
    <h2>List of registered simulations</h2>
  </section>

  <%= render :partial => "simulation_input_writers" %>
  <%= render :partial => "simulation_executors" %>
  <%= render :partial => "simulation_output_readers" %>

  <section>
    <h3>Actions</h3>

    <div class="buttons">
      <%= link_to "Go to registration form", simulations_registration_path, :class => "nice_button" %>
    </div>
  </section>

</article>

