%h2= t('infrastructure.tree.sm_dialog.header')

%a.close-reveal-modal &#215;

%row
  = @sm_record.resource_id

:javascript
  $(function() {
    $(document).foundation();

    new window.SmDialog("#node-dialog");
  });