- machines = private_machine_credentials_select_data(@current_user.id)

.row
  .small-4.columns
    = label_tag :credentials_id, t('infrastructure.information.private_machine.machine_id') + ':', class: 'inline right'
  .small-4.columns
    = select_tag :credentials_id, options_for_select(machines)
  .small-4.columns
