.container {
    width: 100%;
    height: 600px;
    margin:0 auto;
    position:relative;
    background-color: white;
}

.center-container {
    height:600px;
    position:absolute;
    top:0;
    width: 100%;
    background-color: white;
    color:#ccc;
}

.text {
    margin: 7px;
    text-align: center;
}

.node {
  text-align: center;
}

#inner-details {
    font-size:0.8em;
    list-style:none;
    margin:7px;
}

.infovis {
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin:0px;
    padding:0px;
    overflow:hidden;
}

.container {
    margin-top: 15px;
}

/*TOOLTIPS*/
.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
}

#site_title {
    /*line-height: 70px;*/
    padding-top: 0px;
}