#experiment-analysis-modal.reveal-modal(data-reveal="")
  %a.close-reveal-modal &#215;

  .histogram-analysis-content.content(style="display:none;")
    = render :partial => 'histogram_options', :object => @experiment

  .regression_tree-analysis-content.content(style="display:none;")
    = render :partial => 'regression_tree_options', :object => @experiment

  .scatter_plot-analysis-content.content(style="display:none;")
    = render :partial => 'scatter_plot_options', :object => @experiment
