/.histogram-analysis
/  = image_tag('histogram_icon.png', :size => '100x150')

/.rtree-analysis
/  = image_tag('rtree_icon.png', :size => '100x150')

/.bivariate-analysis
/  = image_tag('bivariate_icon.png', :size => '100x150')

/.interaction-analysis
/  = image_tag('interaction_icon.png', :size => '100x150')

/.pareto-analysis
/  = image_tag('pareto_icon.png', :size => '100x150')

#experiment-analysis-modal.reveal-modal(data-reveal="")
  %a.close-reveal-modal &#215;

  .histogram-analysis-content.content(style="display:none;")
    = render :partial => 'basic_statistics_charts', :object => @experiment

  .rtree-analysis-content.content(style="display:none;")
    = render :partial => 'regression_tree_charts', :object => @experiment

  .bivariate-analysis-content.content(style="display:none;")
    = render :partial => 'bivariate_analysis', :object => @experiment
  
  /.interaction-analysis-content.content(style="display:none;")
  /  = render :partial => 'interaction_analysis', :object => @experiment

  /.pareto-analysis-content.content(style="display:none;")
  /  = render :partial => 'pareto_analysis', :object => @experiment

- content_for :javascript do
  :javascript
    $(function() {
      new window.AnalysisLinksManager("#experiment-analysis-modal");
    });
