%article{:id => "new_doe_group", :style => "display: none"}
  %h3= button_to_function("Delete", "delete_doe_group(this)",
  :class => "nice_button", :style => "float: none;")

  %div
    Add new parameter to this group:
    %select.arguments
    = button_to_function("Add parameter", "add_doe_parameter(this)",
    :class => "nice_button", :style => "float: none;")
    = button_to_function("Add all parameters", "add_all_doe_parameters(this)",
    :class => "nice_button", :style => "float: none;")

  %div
    %h4
      List of parameters:
    %ul.argument_list
