%h3.subheader= t('experiments.results.header')
%p#results
  %strong= t('experiments.results.results_header') + ': '
  .panel.log-box#results_box
    #results_contents

%p#error_reason
  %strong= t('experiments.results.error_reason_header') + ': '
  .panel.log-box#error_reason_box
    #error_reason_contents
