%section.panel.radius.list
  = content_tag :h3, t('historical_experiments.label'), class: 'subheader'

  .content
    - if @historical_experiments.blank?
      %p= t('.no_experiments')
    - else
      - @historical_experiments.each do |experiment|
        - start_time, finish_time = experiment.start_at.strftime('%Y-%m-%d %H:%M'), experiment.end_at.strftime('%Y-%m-%d %H:%M')
        %a.button.expand.radius.last-element{ href: experiment_path(experiment.id) }
          - unless current_user.owns?(experiment)
            %i.fi-share
          = t('.link_text', { name: experiment.name, start_time: start_time, finish_time: finish_time })
