= javascript_include_tag 'jquery.dataTables.js'
= stylesheet_link_tag '/css/jquery.dataTables.css'

%article{id: 'progress_information', style: 'margin-bottom: 15px; display: none; overflow:auto;'}
  %h3 Progress information

  %ul.inline-list
    %li= button_to 'Show/Hide completed', completed_simulations_table_experiment_path(@data_farming_experiment.experiment_id),
      remote: true, class: 'button', method: :get, onclick: "$('#completed_simulations_table_wrapper').slideToggle(); var targetOffset = $(this).offset().top; $('html,body').animate({scrollTop: targetOffset}, 1000);"

    %li= button_to 'Show/Hide running', running_simulations_table_experiment_path(@data_farming_experiment.experiment_id),
      remote: true, class: 'button', method: :get, onclick: "$('#running_simulations_table_wrapper').slideToggle(); var targetOffset = $(this).offset().top; $('html,body').animate({scrollTop: targetOffset}, 1000);"

  #running_simulations_table_wrapper{style: 'display: none;'}
  #completed_simulations_table_wrapper{style: 'display: none;'}
