.content
  #workers_info.row
    #state.small-3.columns(style="font-weight: bold;")
    #value.small-1.columns

    - if @experiment.is_running
      .small-7.small-offset-1.columns
        .row
          .small-8.columns.small-centered
            %span#boostButton.success{class: button_classes}
              %i.fi-plus
              = t('experiments.monitoring_actions.boost_button')

            %a{class: button_classes, href: simulation_manager_experiment_path}
              %i.fi-download
              = t('experiments.monitoring_actions.get_sm_button')
  #workers_alert.row(style="display: none")
    .small-8.columns.small-centered
      .alert-box.alert.round.text-center(data-alert='')
        You should add workers!

- content_for :javascript do
  :javascript
    function capitaliseFirstLetter(string)
    {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }

    $(function() {
      $.getJSON("/simulation_managers", function(data) {
        $("#actions-loading-workers").hide();
        var array_of_workers = data.sm_records;
        var map = {"created": 0,
                   "initializing": 0,
                   "running": 0,
                   "terminating": 0,
                   "failed": 0};
        array_of_workers.map(function(worker) {
          var property = worker.state;
          if(worker.experiment_id === '#{@experiment.id}' && worker.user_id === '#{@experiment.user_id}') {
            if(property==="error")
              property = "failed";

            map[property]++;
          }
        })
        for(var key in map) {
          //capitaliseFirstLetter(key)
          ($("<span>").addClass("w-"+key).text(key.toUpperCase()+":").append("<br>")).appendTo($("#state"));
          ($("<span>").text(map[key]).append("<br>")).appendTo($("#value"));
        }
        if(map["created"] == 0 && map["initializing"]==0 && map["running"]==0) {
          $("#workers_alert").show();
        }
      })
    });