$('#completed_simulations_table_wrapper').html("<%= escape_javascript render 'completed_simulations_table' %>")

oTableFinal = $('#completed_simulations_table').dataTable({
    'bFilter': false,
    'bPaginate': false,
    'bSort': true,
    'bProcessing': true,
    'sAjaxSource': "<%= intermediate_results_experiment_path(@experiment.id, simulations: 'completed') %>",
    'bStateSave': true,
    'bDestroy': true
});

setInterval(function () {
    if ($('#completed_simulations_table').is(":visible")) {
        oTableFinal.api().ajax.reload();
    }
}, 30000);

var completed_sim_table = $('#completed_simulations_table');

completed_sim_table.on('click', 'tr', function(event) {
    if(oTableFinal.fnGetData(this)) {
        $('#extension-dialog').html(window.loaderHTML);

        var simulation_id = oTableFinal.fnGetData(this)[0];
        $('#extension-dialog').load("/experiments/" + "<%= @experiment.id %>" + "/simulations/" + simulation_id);
        $('#extension-dialog').foundation('reveal', 'open');
    }
});

completed_sim_table.wrap("<div id='completed_simulations_table_scroll'></div>");
$('#completed_simulations_table_scroll').doubleScroll();

$.fn.dataTableExt.sErrMode = "console";

$.fn.dataTableExt.oApi._fnLog = function (oSettings, iLevel, sMesg, tn) {
    var sAlert = (oSettings === null)
                    ? "DataTables warning: "+sMesg
                    : "DataTables warning (table id = '"+oSettings.sTableId+"'): "+sMesg
            ;

    if (tn) {
        sAlert += ". For more information about this error, please see "+
                "http://datatables.net/tn/"+tn
        ;
    }

    if (iLevel === 0) {
        if ($.fn.dataTableExt.sErrMode == "alert") {
            alert(sAlert);
        } else if ($.fn.dataTableExt.sErrMode == "throw") {
            throw sAlert;
        } else  if ($.fn.dataTableExt.sErrMode == "console") {
            console.log(sAlert);
        } else  if ($.fn.dataTableExt.sErrMode == "mute") {}

        return;
    } else if (console !== undefined && console.log) {
        console.log(sAlert);
    }
}