- content_for :title, 'Scalarm - experiments'

= render 'running_experiments'

= render 'simulations/simulation_scenarios'

= render 'historical_experiments'

= content_for :javascript do
  :javascript
    $(function() {
      $('.close_button').hide();
    });