- content_for :title, 'Scalarm - experiments'

= render partial: 'running_experiments', locals: { show_close_button: false }

= render partial: 'simulations/simulation_scenarios', locals: { show_close_button: false }

= render partial: 'historical_experiments', locals: { show_close_button: false }
