- machines = private_machine_credentials_select_data(@current_user.id)

.row
  .large-4.columns
    = label_tag :credentials_id, t('infrastructure.information.private_machine.machine_id') + ':', class: 'inline right'
  .large-4.columns.end
    = select_tag :credentials_id, options_for_select(machines)

.row
  .large-4.columns
    = label_tag :onsite_monitoring,  t('infrastructure.information.onsite_monitoring') + ':', class: 'inline right'
  .large-4.columns.end
    = check_box_tag :onsite_monitoring