/* Created by http://freehtml5templates.com */

/* reset */
* {
margin: 0;
padding: 0;
}

/* layout */

#wrapper {
  position: relative;
  max-width: 960px;
  background: url(image_path('bg03.jpg')) repeat;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5px;
  min-height: 535px;
  padding: 10px;
  /* curved border radius */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

header {
  padding: 5px;
  margin-bottom: 17px;
  background-color: #eee;
  /* curved border radius */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.navigation {
    max-width: 100%;
    margin-bottom: 0px;
    padding: 0;
    margin: 0;
}

.navigation a {
    margin-bottom: 0px;
    margin-right: 5px;
    float: right;
}

#main {
    margin: 0 auto;
    color: #444;
    font-size: 14px;
    line-height: 1.2em;
    position: relative;
}

footer {
  padding: 0 20px;
  clear: both;
  margin: 10px 10px 0 10px;
  background: url(image_path('bg03.jpg')) repeat;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  /* curved border radius */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* nav */

nav .menu {
width: 940px;
font-size: 16px;
font-weight: bold;
}

nav .menu ul {
list-style: none;
margin: 0;
text-align: center;
}

nav .menu ul li {
display: inline;
position: relative;
}

nav .menu ul li a {
padding: 0 15px;
line-height: 38px;
text-decoration: none;
}

nav .menu ul li a:hover {
color: #ff6f39;
border-bottom: 3px solid #ff6f39;
}

#infoboxleft {
float: left;
width: 300px;
}

#infoboxmid {
float: left;
width: 300px;
margin-left: 20px;
}

#infoboxright {
float: left;
width: 300px;
margin-left: 20px;
}

blockquote {
padding-left: 40px;
background: transparent url(image-url("openquotes.png")) no-repeat;
font-style: italic;
}

article {
margin-top: 10px;
}

img {
/* curved border radius */
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.alignleft,
img.alignleft {
display: inline;
float: left;
margin-right: 10px;
margin-top: 4px;
}

.alignright,
img.alignright {
display: inline;
float: right;
margin-left: 10px;
margin-top: 4px;
}

.aligncenter,
img.aligncenter {
clear: both;
display: block;
margin-left: auto;
margin-right: auto;
}

img.alignleft, img.alignright, img.aligncenter {
margin-bottom: 12px;
}

.readmore {
font-size: 80%;
}

/* footer */

footer p {
text-align: right;
padding-right: 20px;
}

.clearall {
clear: both;
}

.sbtn, .nice_button, .buttons input[type="submit"] {
  /*CSS 3: apply border radius, box shadow, and text shadow for rounded corners
           and button shaddowing effects */
  border-radius: 5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
  -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.50);
  -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.50);

  text-shadow: 1px 1px 1px #444444;

  /*standard CSS properties */
    //font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
//    font-family: 'Ubuntu', sans-serif;
    font-size:13px;
    font-weight: 600;

    text-decoration:none;
    text-align:center;
    color:#FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 8px 14px 8px 14px;
    background-color: #0E59AE;
    float: left;
    margin-right: 10px;
    margin-bottom: 4px;
}

.sbtn:hover, .nice_button:hover, .buttons input[type="submit"]:hover {
  color:#FFF;
  background-color:#063468;
}

.sbtn:active, .nice_button:active, .buttons input[type="submit"]:active {
    background-color:#1169cc;
    position: relative;
    top: 1px;
}

#moa_list { list-style-type: none; margin: 0; padding: 0; width: 60%; }

.nice_label {
	vertical-align: middle;
	margin-top: 5px;
}

#batch_vms_form label {
  width: 12em;
}

#add_vms_to_exp label {
  width: 12em;
}

/*input[type="text"], input[type="password"], textarea*/
/*{*/
    /*font-family: Arial, Sans-Serif;*/
    /*font-size: 12px;*/
    /*margin-bottom: 5px;*/
    /*padding: 4px;*/
    /*border: solid 1px #777;*/
    /*width: 100px;*/
    /*background-color: #EEE;*/
/*}*/

.LV_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;
}

.LV_valid {
    color:#00CC00;
}

.LV_invalid {
    color:#CC0000;
}

.LV_valid_field,
input.LV_valid_field:hover,
input.LV_valid_field:active,
textarea.LV_valid_field:hover,
textarea.LV_valid_field:active {
    border: 1px solid #00CC00;
}

.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active {
    border: 1px solid #CC0000;
}

.buttons {
  text-align: center;
  min-height: 30px;
}

.basic_chart_container {
  width: 75%;
  float: left;
  margin-right: 20px;
}

.statistics_box {
  float: left;
}

.argument_list {
  margin-left: 20px;
  /*padding: auto;*/
}

#accordion {
	margin-top: 20px;
}

select {
	font-size: 13px;
}

.statistics_box {
    font-size: large;
    margin: 20px;
}

/* Analysis experiments */
.layered_window {
    position: fixed;
    top: -420%;
    width: 940px;
    z-index: 5;
    overflow:auto;
    color: #000000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 20px;
    border: medium solid;
}

#histogram_analysis_link {
    position: absolute;
    top: 0px;
    right: -110px;
}

#histogram_analysis_window {
    background-color: #ECF4FF;
    border-color: #99C7FF;
}

@-webkit-keyframes histogram_slide {
    0%   {top: -120%; right: -120%;}
    50%  {top: 0%;  right: 0%;}
    100% {top:  50px;  right: 120px;}
}

.histogram_analysis_window_slide {
    position: fixed;
    -webkit-animation-name: histogram_slide;
    -webkit-animation-duration: 2s;
}

@-webkit-keyframes histogram_slide_out {
    100%   {top: -120%; right: -120%; bottom: 200px;}
    50%  {top: 0%;  right: 0%; bottom: 200px;}
    0% {top:  50px;  right: 120px; bottom: 20px;}
}

.histogram_analysis_window_slide_out {
    position: fixed;
    -webkit-animation-name: histogram_slide_out;
    -webkit-animation-duration: 2s;
}

#rtree_analysis_link {
    position: absolute;
    top: 170px;
    right: -110px;
}

#rtree_analysis_window {
    background-color: #E8E8E8;
    border-color: #A8A8A8;
}

@-webkit-keyframes rtree_slide {
    0%   { right: -120%; }
    50%  { right:    0%; }
    100% { right: 120px; }
}

.rtree_analysis_window_slide {
    position: fixed;
    -webkit-animation-name: rtree_slide;
    -webkit-animation-duration: 2s;
}

@-webkit-keyframes rtree_slide_out {
    100% {top: 20px; right: -120%; bottom: 20px;}
    50%  {top: 20px;  right: 0%; bottom: 20px;}
    0%   {top:  20px;  right: 120px; bottom: 20px;}
}

.rtree_analysis_window_slide_out {
    position: fixed;
    -webkit-animation-name: rtree_slide_out;
    -webkit-animation-duration: 2s;
}

#bivariate_analysis_link {
    position: absolute;
    top: 340px;
    right: -110px;
}

#bivariate_analysis_window {
    background-color: #F5FFF2;
    border-color: #8FFF6F;
}

@-webkit-keyframes bivariate_slide {
    0% {bottom: -120%; right: -120%; top: 200px;}
    50%  {bottom: 0%;  right: 0%; top: 200px;}
    100%   {bottom:  20px;  right: 120px; top: 20px;}
}

.bivariate_analysis_window_slide {
    position: fixed;
    -webkit-animation-name: bivariate_slide;
    -webkit-animation-duration: 2s;
}

@-webkit-keyframes bivariate_slide_out {
    100% {bottom: -120%; right: -120%; top: 200px;}
    50%  {bottom: 0%;  right: 0%; top: 200px;}
    0%   {bottom:  20px;  right: 120px; top: 20px;}
}

.bivariate_analysis_window_slide_out {
    position: fixed;
    -webkit-animation-name: bivariate_slide_out;
    -webkit-animation-duration: 2s;
}

/* Experiment links */

#running_experiments_link {
    position: absolute;
    top: 0px;
    left: -110px;
}

#running_experiments_window {
    background-color: #ECF4FF;
    border-color: #99C7FF;
}

@-webkit-keyframes running_experiments_slide {
    0%   {top: -120%; left: -120%;}
    50%  {top: 0%;  left: 0%;}
    100% {top:  20px;  left: 120px;}
}

.running_experiments_window_slide {
    position: fixed;
    -webkit-animation-name: running_experiments_slide;
    -webkit-animation-duration: 2s;
}

@-webkit-keyframes running_experiments_slide_out {
    100%   {top: -120%; left: -120%; bottom: 200px;}
    50%  {top: 0%;  left: 0%; bottom: 200px;}
    0% {top:  20px;  left: 120px; bottom: 20px;}
}

.running_experiments_window_slide_out {
    position: fixed;
    -webkit-animation-name: running_experiments_slide_out;
    -webkit-animation-duration: 2s;
}

#available_experiments_link {
    position: absolute;
    top: 170px;
    left: -110px;
}

#available_experiments_window {
    background-color: #E8E8E8;
    border-color: #A8A8A8;
}

@-webkit-keyframes available_experiments_slide {
    0%   { left: -120%; }
    50%  { left:    0%; }
    100% { left: 120px; }
}

.available_experiments_window_slide {
    position: fixed;
    -webkit-animation-name: available_experiments_slide;
    -webkit-animation-duration: 2s;
}

@-webkit-keyframes available_experiments_slide_out {
    100% {top: 20px; left: -120%; bottom: 20px;}
    50%  {top: 20px;  left: 0%; bottom: 20px;}
    0%   {top:  20px;  left: 120px; bottom: 20px;}
}

.available_experiments_window_slide_out {
    position: fixed;
    -webkit-animation-name: available_experiments_slide_out;
    -webkit-animation-duration: 2s;
}

.layered_window img.close_button {
    position: absolute;
    top: 30px;
    right: 10px;

    width: 48px;
    height: 48px;
}


#historical_experiments_link {
    position: absolute;
    top: 340px;
    left: -110px;
}

#historical_experiments_window {
    background-color: #F5FFF2;
    border-color: #8FFF6F;
}

@-webkit-keyframes historical_experiments_slide {
    0% {bottom: -120%; left: -120%; top: 200px;}
    50%  {bottom: 0%;  left: 0%; top: 200px;}
    100%   {bottom:  20px;  left: 120px; top: 20px;}
}

.historical_experiments_window_slide {
    position: fixed;
    -webkit-animation-name: historical_experiments_slide;
    -webkit-animation-duration: 2s;
}

@-webkit-keyframes historical_experiments_slide_out {
    100% {bottom: -120%; left: -120%; top: 200px;}
    50%  {bottom: 0%;  left: 0%; top: 200px;}
    0%   {bottom:  20px;  left: 120px; top: 20px;}
}

.historical_experiments_window_slide_out {
    position: fixed;
    -webkit-animation-name: historical_experiments_slide_out;
    -webkit-animation-duration: 2s;
}


/* Login */

.login {
    position: relative;
    top: 50px;
}

.login div {
    position: relative;
    left: 35%;
}

.login div input[type="submit"] {
    margin-left: 80px;
}

.account_button {
    position: relative;
    float: right;
}

.div-dialog label, .div-dialog .buttons input {
  float: none;
  display: inline;
  display: table-cell;
  width: 50%;
}

.div-dialog label {
  width: auto;
  font-weight: bold;
  padding-right: 10px;
}

.div-dialog div {
  display: table-row;
  width: 100%;
}

.div-dialog .buttons {
  display: block;
}

.div-dialog {
  margin: 0 auto;
  display: table;
}

article#experiment_stats {
  position: relative;  
  font-size: 15px;

  .content {
    min-height: 150px;
  }

  .row {
    margin-bottom: 10px;
  }
}

#exp_progress_bar_2 {
    width: 100%;
    height: 50px;
    /*border-style: solid*/
}

.registration_form div {
    line-height: 30px;
}

.registration_form label {
    width: 10em;
    line-height: 30px;
    vertical-align: middle;
}

.registration_form .buttons {
    margin-top: 20px;
    margin-bottom: 20px;
}

.registration_form select {
    margin-top: 5px;
}

/* Selectable list of simulations/experiments to run */
#simulation_list {
    text-align: center;
    display: block;
    width: 100%;
}

.actions {
    margin-top: 20px;
    text-align: center;
}

.accordion-container label {
    width: 220px;
}

.submit-section {
    margin-top: 20px;
    text-align: center;
}

.wide-label label {
    width: 200px;
}

.hidden {
    display: none;
}

.list input {
    margin-bottom: 0px;
}

.container {
    width: 100%;
    height: 600px;
    margin:0 auto;
    position:relative;
    background-color: white;
}

.center-container {
    height:600px;
    position:absolute;
    top:0;
    width: 100%;
    background-color: white;
    color:#ccc;
}

.text {
    margin: 7px;
    text-align: center;
}

.node {
  text-align: center;
}

#inner-details {
    font-size:0.8em;
    list-style:none;
    margin:7px;
}

.infovis {
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin:0px;
    padding:0px;
    overflow:hidden;
}

.container {
    margin-top: 15px;
}

/*TOOLTIPS*/
.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter: alpha(opacity=90);
    font-size:10px;
    padding:7px;
}

#site_title {
    line-height: 70px;
    padding-top: 0px;
}

.last-element {
  margin-bottom: 0px;
}

.action-button {
  padding-left: 0px;
}

table.simulations {
  table-layout: fixed;
  width: 100%;

  td {
    width: 20%;
    word-wrap: break-word;
    text-align: center;
  }

  td.actions {
    text-align: center;
  }
}

.title-area div {
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
  line-height: 40px;
}