.node circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;

}

.node circle.highlighted {
  fill: orange;
}

.node text {
    font-size: 15px;
}



//.root-node text {
//    text-anchor: end;
//    transform: translate(-20px,.3em);
//}

// meta-node text
//.sm-container text,
.node text {
  //text-anchor: end;
  //transform: translate(-15px,-3px);

}

circle.children-collapsed {
    fill: lightsteelblue;
}

path.link {
    fill: none;
    stroke: #ababab;
    stroke-width: 1.5px;
}

text.label-text {
  text-anchor: start;
  transform: translate(22px,-6px);
}

image.button {
  cursor: pointer;
}

path.sm-label {
  fill: #fff;
  stroke-width: 1.5px;
  stroke: slategray;
}

// icons in SM table

.tooltip-status-square {
  width: 16;
  height: 16;
  float: left;
}

ul.status-tooltip {
  font-size: 1em;
  list-style-type: none;
  margin-top: 8px;
  margin-left: 0px;
}

ul.status-tooltip li {
  margin-top: 2px;
}

.status-square {
  width: 24;
  height: 24;
}

.sm-created {
  color: #d3d3d3;
  background-color: #d3d3d3;
}
circle.sm-created {
  fill: #e3e3e3;
  stroke: #d3d3d3;
}

.sm-initializing {
  color: goldenrod;
  background-color: goldenrod;
}
circle.sm-initializing {
  fill: #eab530;
  stroke: goldenrod;
}

.sm-running {
  color: forestgreen;
  background-color: forestgreen;
}
circle.sm-running {
  fill: #329b32;
  stroke: forestgreen;
}

.sm-terminating {
  color: #444;
  background-color: #444;
}
circle.sm-terminating  {
  fill: #555;
  stroke: #444;
}

.sm-error {
  color: firebrick;
  background-color: firebrick;
}
circle.sm-error {
  fill: #c23232;
  stroke: firebrick;
}

.sm-unknown {
  color: lightsteelblue;
  background-color: lightsteelblue;
}
circle.sm-unknown  {
  fill: #c0d4ee;
  stroke: lightsteelblue;
}