.node circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size: 13px;
}

.root-node text {
    text-anchor: end;
    transform: translate(-20px,.3em);
}

.sm-node text {
    text-anchor: start;
    transform: translate(20px,.3em);
}

.sm-container-node text,
.meta-node text {
    text-anchor: middle;
    transform: translate(0px,30px);
}

path.link {
    fill: none;
    stroke: #ababab;
    stroke-width: 1.5px;
}

