// Place all the styles related to the user_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

i.credentials-alert {
  color: orange;
}

i.credentials-lack {
  color: darkslategray;
}

i.credentials-ok {
  color: darkgreen;
}

.welcome-panel {
  background-color: transparent;

  .row {
    margin-bottom: 30px;
    .columns {
      text-align: center;

      .fa {
        color: #709FD2;
      }

      .icon-caption {
        font-weight: 600;
        margin-top: 5px;
      }
    }
  }

  i {
    font-size: 48px;
  }
}
