%section.panel.radius.guide-panel
  .row
    .small-6.columns.small-centered
      %a.button.split.custom-split.radius.success{ href: 'https://docs.cyfronet.pl/pages/viewpage.action?pageId=16023704' }
        %span
          %i.fa.fa-book.fa-fw.small-link
        = "New to Scalarm? Read a user guide! (Polish)"
