- content_for :title, 'Scalarm'
- content_for :help, raw(t('help.users.summary'))

%header
  .row
    .small-12.small-centered.columns(style="text-align: center;")
      %h2= t('account-title')

= render partial: 'password_panel'

= render partial: 'infrastructures_credentials_panel'
