- content_for :title, 'Scalarm - login'

%section#main
  .row.large-5.large-centered.columns
    .panel.radius
      = form_tag login_path do
        .row
          .large-5.columns
            %label.right.inline Login:
          .large-7.columns
            = text_field_tag 'username', '', class: 'inline'

        .row
          .large-5.columns
            %label.right.inline Password:
          .large-7.columns
            = password_field_tag 'password', '', class: 'inline'

        .row
          .large-4.large-centered.columns
            = submit_tag 'Submit', class: 'button'

