%li
  %strong= t('plgrid.job_desc.job_id') + ': '
  =record.job_id
%li
  %strong= t('plgrid.job_desc.nodes') + ': '
  =record.nodes
%li
  %strong= t('plgrid.job_desc.cores_per_node') + ': '
  =record.ppn
